@{
    ViewData["Title"] = "All cargoes at V&D Cargoes LTD";
}

@model CargoQueryAllViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <h1 align="center">@ViewData["Title"]</h1>
    </header>

    <form>
        <div class="form-group col-md-30 d-flex justify-content-between">
            <div class="form-group col-md-3" style="width: 25%">
                <label asp-for="Keyword">Write a keyword:</label>
                <input asp-for="Keyword" class="form-control" placeholder="Search...">
            </div>

            <div class="form-group col-md-3" style="width: 25%">
                <label asp-for="CargoesPerPage">Cargoes per page:</label>
                <select asp-for="CargoesPerPage" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div class="form-group col-md-3" style="width: 25%">
                <div class="form-group">
                    <label asp-for="CargoesOrdering">Order cargoes by:</label>
                    <select asp-for="CargoesOrdering" class="form-control">
                        <option value="0">Name (Ascending)</option>
                        <option value="1">Name (Descending)</option>
                        <option value="2">Description (Ascending)</option>
                        <option value="3">Description (Descending)</option>
                        <option value="4">Weight (Ascending)</option>
                        <option value="5">Weight (Descending)</option>
                    </select>
                </div>
            </div>
        </div>

        <center>
            <div class="col-md-3">
                <div class="form-group mt-4 p-2">
                    <input type="submit" value="Apply filters" class="btn btn-primary" />
                </div>
            </div>
        </center>
    </form>

    @if (!this.Model.Cargoes.Any())
    {
        <p align="center">There are no cargoes available in V&D Cargoes LTD at the moment.</p>
    }
    else
    {
        <div class="row">
            @foreach (var cargo in Model.Cargoes)
            {
                <partial name="_CargoPartial" model="cargo" />
            }
        </div>
    }
</body>
</html>
