@model IEnumerable<TrailerAllViewModel>
@inject IDriverService driverService;

@{
    ViewData["Title"] = $"{await this.driverService.GetTheFullNameOfDriverByUserIdAsync(this.User.FindFirstValue(ClaimTypes.NameIdentifier))}'s trailers";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <h1 align="center">@ViewData["Title"]</h1>
    </header>

    @if (!this.Model.Any())
    {
        <p align="center">You have zero trailers to drive. To take one go to All Trailers.</p>
    }
    else
    {
        <div class="row">
            @foreach (var trailer in this.Model)
            {
                <partial name="_DrivenTrailerPartial" model="@trailer" />
            }
        </div>
    }
</body>
</html>