@model AllTrucksQueryModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truck Gallery</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <h1 align="center">Truck Gallery</h1>
    </header>

    <form>
        <div class="form-group col-md-30 d-flex justify-content-between">
            <div class="form-group col-md-3">
                <label asp-for="Keyword">Write a keyword</label>
                <input asp-for="Keyword" class="form-control" placeholder="Search...">
            </div>

            <div class="form-group col-md-3">
                <label asp-for="TrucksPerPage">Trucks per page</label>
                <select asp-for="TrucksPerPage" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <div class="form-group">
                    <label asp-for="TrucksOrdering">Order trucks by:</label>
                    <select asp-for="TrucksOrdering" class="form-control">
                        <option value="0">Newest</option>
                        <option value="1">Oldest</option>
                        <option value="2">Make (Ascending)</option>
                        <option value="3">Make (Descending)</option>
                        <option value="4">Free to drive first</option>
                    </select>
                </div>
            </div>
        </div>

        <center>
            <div class="col-md-3">
                <div class="form-group mt-4 p-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </center>
    </form>

    @if (!Model.Trucks.Any())
    {
        <p align="center">There are no registered trucks in V&D Cargoes LTD at the moment.</p>
    }
    else
    {
        <div class="row">
            @foreach (var truck in Model.Trucks)
                {
                    if (User.Identity?.Name.ToLower() == truck.CreatorEmail)
                    {
                    <partial name="_OwnedTruckPartial" model="@truck" />
                }
                else
                {
                    <partial name="_TruckPartial" model="@truck" />
                }
            }
        </div>
    }
</body>
</html>
